BasedOnStyle: Microsoft
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
IndentAccessModifiers: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignAfterOpenBracket: Align
BracedInitializerIndentWidth: 4
UseTab: Never